body {
    text-align: center;
    padding-top: 50px;
}
#welcome {
    position: absolute;
    background: linear-gradient(rgb(169, 160, 255) 20%, rgb(255, 226, 95) 80% ) ;
    width: 100%;
    overflow: hidden;
    color: white;
    left: 0;
    Top: 0;
    Bottom: 0;
    Right: 0;
    display: table;
    z-index: 9;
}
#tblpic {
    border-radius: 50%;
    border-style: groove;
    border-width: 10px;
    border-color: whitesmoke;
    margin-top: 100px;
}
#bio {
    padding-top: 400px;
    text-align: center;
    color: #000;
    background-color: rgb(255, 255, 255);
}
#menu {
   position: fixed; 
   background-color: white;
   list-style: none;
   font-family: cursive;
   top: 0px;
   margin-top: 0px;
   width: 100%;
   z-index: 10;
   cursor: pointer;
   
}
.menustuff {
    display: inline;
    color: whitesmoke;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
}
.menustuff:hover {
color: rgb(255, 189, 7);
}
#tblname {
    font-family: 'Praise';
    font-size: 25px;
}
.writingLinks:hover {
    color: rgb(169, 160, 255);
}
#contact iframe {
    width: 100%;

}
